/* .footer{
    border-top: 8px solid #4aaaa5;
    margin-bottom: 0px;
    background-color: #666666;
    text-align: center;
    color: #cccccc;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.header{
    background-color: #ffffff;
    border-bottom: 5px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-top: 20px;
    width: 3000px; 
    margin-top: 0px;
}

.card-text1 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    left: 0px;
    padding-right: 103px;
    padding-left: 120px;
}

.card-text2 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    left: 0px;
    padding-right: 95px;
    padding-left: 105px;
}

.card-text3 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    bottom: 0px;
    padding-bottom: 19px;
    padding-top: 19px;
    left: 0px;
    padding-right: 103px;
    padding-left: 105px;
}

.card-text4 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    bottom: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    left: 0px;
    padding-right: 101px;
    padding-left: 105px;
}

.card-text5 {
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    bottom: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    left: 0px;
    padding-right: 103px;
    padding-left: 105px;
    margin-bottom: 55px;
}

.card {
    margin-top: 25px;
    margin-bottom: 8px;
    margin-left: 20px;

}

.myname {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    width: 415px;
    margin-bottom: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
}

a {
    color: #777777;
    text-decoration: none;
}
 
nav {
    float: right;
}

body {
    font family: Arial, "Helvetica Neue", Helvetica, sans-seriff;
    font-size: 18px;
    line-height: 34 px;
    color: #777777;
    box-sizing: border-box;
    margin-top: 20px;
    background-image: url('../images/folk-pattern.png');
}

.form-group {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.btn-primary {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    background-color: #4aaaa5;
    border-color: #cccccc;
}

.bio {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    line-height: 40px;
}

.heading2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 20px;
}

.nav {
    margin-bottom: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
    width: 960px;
    background-color: white;
}

.img-fluid {
    max-width: 400px;
    max-height: auto;
    float: left;
    margin-right: 22px;
    margin-bottom: 12px;
} */

html {
    position: relative;
    min-height: 100%;
}

#header {
    background-color: #ffffff;
    height: 80px;
    border-bottom: 3px solid #cccccc;

}

.name {
    color: white;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-top: 29px;
    width: 395px;
    padding-left: 10px;

}

.nav-link {
    color: #777777;
    font-family: 'Helvetica Neue', 'Arial', Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 25px;
    left: 20px;
}

.content {
    width: 960px;
    background-color: #ffffff;
    margin-top: 40px;
    border: 1.5px solid #dddddd;
    margin-bottom: 150px;
}

body {
    background-image: url('../images/folk-pattern.png');
}

.aboutme {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom: 3px solid #dddddd;
    width: 900px;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.img-fluid {
    max-width: 400px;
    max-height: auto;
    margin-bottom: 20px;
}

.bio {
    color: #777777;
    font-family: 'Helvetica Neue', 'Arial', Helvetica, sans-serif;
    line-height: 35px;
}

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: lightgrey;
    height: 70px;
    text-align: center; 
    margin-right: -15px;
    margin-left: -15px;
}

.copyright {
    margin-top: 25px;
    font-size: 12px;
}

.aboutme, #profilepic, .bio {
    margin-right: 30px;
    margin-left: 35px;
}
